// see also: _item_page.scss: .itemsummary-layout .area
#content-body {
    // fix #17 safari layout bug, main menu pushed below content
    // this was originally 32px 16px 32px 0 but the right padding serves no purpose other than to waste space
    padding: 32px 0;

    .area {
        background: $white !important;
        border: 1px solid #bbb !important;
        overflow-wrap: break-word;

        fieldset h3 {
            color: $pinkish;
        }

        h1 {
            color: $darker-gray !important;
        }

        h2 {
            color: $darker-gray !important;
            font-size: 18px;
            padding-bottom: 5px;
        }

        .button-strip {
            background: none;
        }

        .control h3 {
            color: $dark-gray;
        }

        .displayNodeFull h2 {
            margin-bottom: 0;
        }
    }
}

.content a {
    color: $link-dark-blue;

    &:hover {
        color: $link-hover-blue;
    }
}

#content,
#content-inner,
#content-bottom {
    background: none;
}
