@use 'colors';

// box - portlets

.box {
    background: none;
    border: 0;
}

.box_content {
    background: none;
    border-bottom: 0;

    hr {
        border-color: colors.$white !important;
    }
}

.box_head {
    background: colors.$white !important;
    border: 0 !important;

    &:hover {
        background-color: #aaa;
    }
}

.box_title_wrapper {
    background: colors.$white !important;
}
