.button,
.button.downarrow,
.button.add,
.button.delete,
.button.ccasave {
  background: #eee;
  border: 1px solid;
  color: #738A99;
}
.button.ccasave {
  font-weight: bold;
  border: 2px solid;
  padding: 5px;
}
.button-big.rightarrow,
.button-big.leftarrow,
.button.rightarrow {
  color: #eee;
}
.button.add,
.button.delete {
  padding: 5px;
}
.button:hover,
.button.downarrow:hover,
.button.add:hover,
.button.delete:hover {
  background: #ddd;
}
.button.downarrow.active {
  border-bottom: 1px solid #738A99;
}
.box_head h3,
.button.downarrow,
.button-big,
.button-large,
.button-big:hover,
.button-large:hover,
.action-button {
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
}
.button-big {
  border: 1px solid $link-dark-blue;
  background: #ddd;
  color: $link-dark-blue;

  &:hover {
    // @todo are redundant border & color rules necessary?
    border: 1px solid $link-dark-blue;
    background: $light-gray;
    color: $link-dark-blue;
  }
}
.button-big.rightarrow:hover {
  background-image: url(#{$img-path}/button-big-right.gif);
  color: lighten($dark-gray, 6.5%);
}
.button.rightarrow {
  padding: 3px 15px;
  font-size: 10px;
  border: 1px solid #738A99;

  &:hover {
    color: lighten($dark-gray, 6.5%);
  }
}
.button-big.leftarrow:hover {
  background-image: url(#{$img-path}/button-big-left.gif);
  color: lighten($dark-gray, 6.5%);
}

/* disabled buttons */
input[type="button"][disabled].button,
input[type="button"][disabled].button-big,
input[type="button"][disabled="disabled"].button-big,
input[type="button"][disabled].button-large,
input[type="button"][disabled="disabled"].button-large {
  background: $dark-gray;

  &:hover {
    background: lighten($dark-gray, 6.5%);
  }
}
