// @TODO where is this "button" class used? isn't "btn" the Bootstrap class?
.button,
.button.downarrow,
.button.add,
.button.delete,
.button.ccasave {
    background: #eee;
    border: 1px solid;
    color: #738a99;
}

.button.ccasave {
    border: 2px solid;
    font-weight: bold;
    padding: 5px;
}

.button-big.rightarrow,
.button-big.leftarrow,
.button.rightarrow {
    color: #eee;
}

.button.add,
.button.delete {
    padding: 5px;
}

.button:hover,
.button.downarrow:hover,
.button.add:hover,
.button.delete:hover {
    background: #ddd;
}

.button.downarrow.active {
    border-bottom: 1px solid #738a99;
}

.box_head h3,
.button.downarrow,
.button-big,
.button-large,
.button-big:hover,
.button-large:hover,
.action-button {
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.button-big {
    background: #ddd;
    border: 1px solid $link-dark-blue;
    color: $link-dark-blue;

    &:hover {
        // @TODO are redundant border & color rules necessary?
        background: $light-gray;
        border: 1px solid $link-dark-blue;
        color: $link-dark-blue;
    }

    &.rightarrow:hover {
        background-image: url(#{$img-path}/button-big-right.gif);
        color: lighten($dark-gray, 6.5%);
    }

    &.leftarrow:hover {
        background-image: url(#{$img-path}/button-big-left.gif);
        color: lighten($dark-gray, 6.5%);
    }
}

.button.rightarrow {
    border: 1px solid #738a99;
    font-size: 10px;
    padding: 3px 15px;

    &:hover {
        color: lighten($dark-gray, 6.5%);
    }
}

// disabled buttons
input[type="button"][disabled].button,
input[type="button"][disabled].button-big,
input[type="button"][disabled="disabled"].button-big,
input[type="button"][disabled].button-large,
input[type="button"][disabled="disabled"].button-large {
    background: $dark-gray;

    &:hover {
        background: lighten($dark-gray, 6.5%);
    }
}
