$link-dark-blue: #2f6fa5;
$black: #000;
$dark-font-color: #4b4842;
$dark-gray: #666;
$light-gray: #ccc;
$light-pink: #ffefef;
$off-white: #eee;
$white: #fff;
$warning-orange: #e84;
$success-green: #7b2;
$error-red: #e44;
