$black: #000;
$dark-font-color: #4b4842;
$dark-gray: #666;
$darker-gray: #222;
$error-red: #e44;
$light-gray: #ccc;
$light-pink: #ffefef;
$link-dark-blue: #2f6fa5;
$link-hover-blue: #235D8C;
$off-white: #eee;
$pinkish: #C69EB3;
$success-green: #7b2;
$warning-orange: #e84;
$white: #fff;
