@use 'colors';

#footer {
    border-top: 4px double colors.$light-gray;
    color: colors.$dark-gray;

    a {
        color: colors.$link-dark-blue;

        &:hover {
            color: #235d8c;
        }
    }
}

#footer-inner {
    height: 0;
}

#socialmedia {
    display: none;
}
