#footer {
    border-top: 4px double $light-gray;
    color: $dark-gray;

    a {
        color: $link-dark-blue;

        &:hover {
            color: #235D8C;
        }
    }
}

#footer-inner {
    height: 0;
}

#socialmedia {
    display: none;
}
