// student work galleries
// images with bits of metadata beneath
// used in CORE Waiver Portfolio & most Fine Arts Division SR Packets

// vars
$md-margin-bottom: 5px;
$md-height: 220px;
$md-pad: 8px;
$iwm-width: 174px;
// link wrapping image, this height involves standard EQUELLA thumbnail size
$iwm-a-height: 90px;

.image-with-metadata {
    // to obscure text from any overlapping rows above
    background: #fff;
    display: block;
    float: left;
    // constant height allows floated images to stack in a row
    height: $iwm-a-height + $md-pad + $md-margin-bottom + $md-height;
    padding: 20px 0 10px;
    text-align: center;
    // just enough to fit three images in a row
    width: $iwm-width;

    &:hover {
        overflow: visible;

        .metadata {
            background: #eee;
            height: auto;
            position: absolute;
            white-space: normal;
            z-index: 1;
        }
    }

    &.shorter {
        height: 150px;
    }

    > a {
        display: block;
        margin: auto;
        width: 110px;

        &:hover {
            border: 0;

            img {
                border-color: #000;
            }
        }
    }

    .metadata {
        // needed to override .itemsummary-layout .area p { display: inline }
        // remove !imp once we get rid of that awful rule
        display: block !important;
        line-height: 20px;
        margin: 0 5px $md-margin-bottom 12px;
        max-height: $md-height;
        overflow: hidden;
        padding: $md-pad;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: $iwm-width - (2 * $md-pad);

        .title {
            border-bottom: 1px dotted #bbb;
            display: block;
            font-style: italic;
            font-weight: bold;
            overflow: hidden;
            padding-bottom: 7px;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}
