@use 'sass:color';
@use 'colors';

// styles on individual item pages e.g. /items/{{id}}/{{version}}/ URLs
// often involve classes commonly used in display templates
#title {
    color: #936;
}

#more {
    color: #c69eb3;
    display: inline;
    float: left;
    font-weight: bold;
    margin-left: 195px;
    padding: 10px;
}

// only use I can find is in Libraries collection
#secondtitle {
    color: colors.$dark-gray;
    display: block;
    font-size: 12px;
    margin: 0 0 0 10px;
    padding: 0;
}

// special types of metadata: subject, rights/permissions
dd.subject {
    display: inline;
    float: left;
    min-width: 210px;
}

dd.rights {
    border-bottom: 1px solid colors.$light-gray;
    border-top: 1px solid colors.$light-gray;
    clear: both;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.itemsummary-layout {
    .area {
        background: colors.$white;

        h2 {
            border-bottom: 1px solid #ddd;
            color: colors.$dark-gray;
            margin: 8px 0;
        }

        h3 {
            color: #936;
            font-size: 12px;
            font-weight: normal;
            margin: 5px 0 0;
        }

        // disable links that point nowhere
        a[href=''] {
            color: colors.$dark-font-color; // default text color
            pointer-events: none;
        }

        // this rule is killing me all the time
        // why would we want all paragraphs to be inline?
        // where is this useful? -EP
        p {
            display: inline;

            &.caption {
                display: block;
                line-height: 15px;
                margin: 0 5px 5px 0;
            }

            &.commImagelist {
                display: block;
                line-height: 12px;
                margin: 0 5px 5px 10px;
            }

            &.photoImagelist {
                display: block;
                margin: 0 5px 5px 12px;
                max-height: 220px;
            }

            &.artistDocs {
                display: block;
                line-height: 12px;
                margin: 0 15px 0 5px;
                word-break: break-word;
            }
        }
    }

    #col1 .displayNodeHalf,
    #col1 .displayNodeFull {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
        vertical-align: top;
        width: 47%;
    }

    #col1 .displayNodeFull {
        width: 100%;
    }

    a {
        color: colors.$link-dark-blue;

        &:hover {
            color: color.adjust(colors.$link-dark-blue, $lightness: 20%);
        }
    }

    #col2 ul li a {
        color: colors.$link-dark-blue;

        &:hover {
            color: colors.$link-dark-blue;
        }
    }
}

div.itemsummary-layout img {
    border: 1px solid colors.$light-gray;
    margin: 5px;
    padding: 5px;
}

// hide error message for wrap
.displayNodeHalf p span {
    display: none;
}

.displayNodeHalf p,
.displayNodeFull p {
    background: #fff;
    float: left;
    margin: 0 0 5px;
    min-width: 85%;
    padding: 0 15px;
}

div.area > div.displayNodeFull:first-child > h3 {
    display: none;
}

// change color of every other element
.displayNodeHalf p:disabled:nth-child(odd)::before {
    content: '* ';
}

.displayNodeHalf p:disabled:nth-child(odd)::after {
    content: ' *';
}

.displayNodeHalf p:disabled:nth-child(odd) {
    padding: 0 15px 3px;
}

.displayNodeFull p {
    width: 89%;
}

// title
div.area > div.displayNodeFull:first-child > h3 + p {
    background: #fff;
    border-bottom: 1px solid #ddd;
    border: 0;
    color: colors.$link-dark-blue;
    font-size: 18px;
    margin: 0 0 8px -8px;
    padding: 0;
    width: 97%;
}

// collection
// um…this selector is insane, can't be necessary -EP
div.area > div.displayNodeFull:first-child + div.displayNodeFull p {
    color: #999;
    margin: 0;
    padding: 0;
    text-align: right;
}

// override Bootstrap thumbnail border & excess spacing
.thumbnail {
    border: 0;
    padding: 0;
}

// NOTE: Bootstrap has .thumbnail .caption style which supplements this
p.caption {
    color: colors.$dark-gray;
    font-size: 8pt;
    text-align: center;
}

.rating-form div.input {
    margin-top: 5;
}

.rate {
    position: absolute;
    right: 0;
    top: -5px;
    width: 190px;
}

#image-descrip {
    float: right;
    max-width: 170px;
    text-align: left;
}

p.photoImagelist {
    color: colors.$dark-gray;
    font-size: 8pt;
    line-height: 20px;
    max-width: 130px;
    overflow: hidden !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: wrap;

    i {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100% !important;
    }
}

p.artistDocs {
    color: colors.$dark-gray;
    font-size: 8pt;
    max-width: 110px;
    text-align: left;

    &.label {
        font-style: italic;
        text-decoration: underline;
    }
}

// below is a mess, various slightly-different classes used in
// several different collections
div.image-studentWork {
    float: left;
    max-width: 130px;
    min-height: 130px;
    min-width: 130px;
    text-align: center;
}

div.image-INTERstudentWork {
    float: left;
    max-width: 130px;
    min-height: 165px;
    min-width: 130px;
    text-align: center;
}

div.image-photoStudentWork,
div.image-seniorPacket {
    float: left;
    max-width: 400px;
    min-height: 220px;
}

div.image-photoSeniorPacket {
    float: left;
    max-width: 130px;
    min-height: 235px;
    min-width: 130px;
}

div.image-artistDocs {
    float: left;
    max-width: 130px;
    min-height: 140px;
    min-width: 130px;
}

div.image-juniorReviewDocs {
    float: left;
    max-width: 130px;
    min-width: 130px;
}

div.image-Comm2 {
    float: left;
    max-height: 400px;
    min-height: auto;
    overflow: auto;
    text-align: left;
    width: 250px;
}

p.commImagelist {
    color: colors.$dark-gray;
    font-size: 8pt;
}

table.commImages,
td.commImages,
th.commImages {
    border: 0;
    height: 120px;
    padding: 10px;
    text-align: right;
    vertical-align: middle;
    width: 260px;
}

div.image-juniorReviewWork {
    float: left;
    max-width: 130px;
    min-height: 255px;
    min-width: 130px;
}

div.image-juniorReviewMovImgWork {
    float: left;
    margin-left: 20px;
    max-width: 500px;
    min-height: 170px;
    min-width: 500px;
}

p.imageList {
    color: colors.$dark-gray;
    display: block;
    font-size: 11px;
    line-height: 15px;
    margin: 0 5px 5px 0;
    text-align: left;
}

// TODO: do VISST & WRLIT really need slightly different course info sizes?
#coursestuff {
    display: block;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 6px;
    margin-left: 15px;
}

#VisStcoursestuff {
    display: block;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 6px;
}

#WrLitcoursestuff {
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 6px;
}

// itemresults freemarker
dt,
.itemsummary-layout .area h3 {
    border-bottom: 1px solid #ddd;
    color: colors.$dark-gray;
    font-size: 17px;
    margin: 16px 0 8px;
}

.itemsummary-layout h4 {
    color: colors.$dark-gray;
    text-decoration: underline;
}

dt {
    clear: both;
}

dd {
    font-size: 12px;
    line-height: 16px;
    margin: 6px 30px 6px 15px;
}

dt.hide {
    display: none;
}

dd.collection {
    font-size: 11px;
    text-align: right;
}

#namestuff {
    color: colors.$dark-gray;
    display: block;
    font-size: 11px;
    line-height: 20px;
    margin-left: 25px;
}

dt.minor {
    border: 0;
    display: inline;
    font-size: 12px;
    margin: 0 0 0 15px;
}

dd.minor {
    display: inline;
    margin-left: 0;
}

#indent {
    margin-left: 15px;
}

.attachments-browse {
    border: 0;
}

.attachments-preview .attachments-thumb {
    height: 80px;
}

div.itemsummary-layout img.droparrow {
    margin: 0;
    padding: 2px;
}

.customlinks #cls_selector_opener {
    color: colors.$dark-gray;
}

#input-right {
    float: right;
}

dd.date {
    margin-bottom: 0;
    margin-top: 0;
    min-width: 210px;
}

.button input[type='button'] {
    color: colors.$link-dark-blue;
    text-transform: uppercase;
}

#header-inner .banner {
    display: none;
}

.alert-success {
    background-color: #dff0d8;
    border-color: rgba(4, 95, 127, .54);
    color: colors.$link-dark-blue;
    font-size: 120%;
    font-variant: small-caps;
    text-align: center;
}

.box_content_inner {
    background: none !important;
    padding: 0 5px 5px;
}

#servermessage {
    background: #f99;
    border-color: #f99;
}

.icon-circle-arrow-down {
    display: none;
}

dt.indentNoLine {
    border-bottom: 0;
    color: colors.$link-dark-blue;
    font-size: 17px;
    margin: 10px 5px 5px 15px;
}

dt.subHeading {
    border-bottom: 0;
    color: colors.$dark-gray;
    font-size: 15px;
    margin: 10px 5px 5px 15px;
}

dd.big {
    font-size: 14px;
}

// ID needed for specificity
#comments-list .comment-username {
    background: url('/p/r/2019.2.0/com.tle.web.ALLICONS/images/user.png') 10px center/15px no-repeat;

    abbr {
        text-decoration: none;
    }
}
