/* ---------------------------------------------
Random and Assorted Vault Icon Replacements
--------------------------------------------- */
@mixin icon-base($pad-left) {
    margin-left: 0;
    padding-left: $pad-left;
    transition: all .1s ease-out;
}

#content-body {
    #col2 {
        // Favorites
        .action-button.add-to-favourites {
            @include icon-base(40px);
            background: url('#{$icons-path}/heart.png') no-repeat 10px center / 12px !important;

            &:hover {
                margin-left: 5px;
            }
        }

        // Favorites 2
        .action-button.addToFavourites,
        .action-button.removeFromFavourites {
            @include icon-base(40px);
            background: url('#{$icons-path}/heart.png') no-repeat 10px center / 12px !important;

            &:hover {
                margin-left: 5px;
            }
        }

        .action-button.removeFromFavourites {
            background: url('#{$icons-path}/error 2.png') no-repeat 10px center / 12px !important;
        }

        /* -- Share -- */
        .action-button.share-search {
            @include icon-base(40px);
            background: url('#{$icons-path}/share.png') no-repeat 10px center / 12px !important;
        }

        .action-button.share-search:hover {
            margin-left: 4px;
        }

        /* -- Share 2 -- */
        .action-button.shareButton {
            @include icon-base(40px);
            background: url('#{$icons-path}/share.png') no-repeat 10px center / 12px !important;
        }

        .action-button.shareButton:hover {
            margin-left: 4px;
        }

        /* -- Search -- */
        .action-button.remote-repo {
            @include icon-base(40px);
            background: url('#{$icons-path}/search.png') no-repeat 10px center / 12px !important;
        }

        .action-button.remote-repo:hover {
            margin-left: 4px;
        }

        /* -- Clear Selected -- */
        #bss_clearSelectedButton {
            @include icon-base(40px);
            background: #ddd url('#{$icons-path}/error 2.png') no-repeat 10px center / 12px !important;
            border-bottom: 1px solid #bbb !important;
            border-radius: 3px;
            border: 0 !important;
            color: #000 !important;
            text-shadow: none !important;
            width: 130px;
        }

        #bss_clearSelectedButton:hover {
            background: $light-gray url('#{$icons-path}/error 2.png') no-repeat 10px center / 14px !important;
            color: #000 !important;
        }

        /* -- Execute Action -- */
        .action-button.execute-action {
            @include icon-base(40px);
            background: #ddd url('#{$icons-path}/play.png') no-repeat 10px center / 8px !important;
            border-bottom: 1px solid #bbb !important;
            border-radius: 3px;
            color: #000;
            width: 144px;
        }

        .action-button.execute-action:hover {
            background: $light-gray url('#{$icons-path}/play.png') no-repeat 10px center / 8px !important;
            color: #000 !important;
        }

        /* -- Add files -- */
        .action-button.add_handle_button {
            @include icon-base(40px);
            background: #ddd url('#{$icons-path}/file up.png') no-repeat 10px center / 8px !important;
            border-bottom: 1px solid #bbb !important;
            border-radius: 3px;
            color: #000;
            width: 144px;
        }

        .action-button.execute-action:hover {
            background: $light-gray url('#{$icons-path}/file up.png') no-repeat 10px center / 8px !important;
            color: #000 !important;
        }

        #cmca_b {
            @include icon-base(40px);
            background: #ddd url('#{$icons-path}/file up.png') no-repeat 10px center / 10px !important;
            border-bottom: 1px solid #bbb !important;
            border-radius: 3px;
            color: #000;
            width: 114px;
        }

        #cmca_b:hover {
            background: $light-gray url('#{$icons-path}/file up.png') no-repeat 10px center / 12px  !important;
            color: #000 !important;
        }

        #cmca2_b {
            @include icon-base(40px);
            background: #ddd url('#{$icons-path}/file plus.png') no-repeat 10px center / 12px !important;
            border-bottom: 1px solid #bbb !important;
            border-radius: 3px;
            color: #000;
            width: 174px;
        }

        #cmca2_b:hover {
            background: $light-gray url('#{$icons-path}/file plus.png') no-repeat 10px center / 12px !important;
            color: #000 !important;
        }

    } // end #col2 rule

    // Add +
    a.add {
        background-color: #c0e091 !important;
        background: #c0e091 url('#{$icons-path}/plus.png') no-repeat 10px center / 12px !important;
        border-bottom: 1px solid #b0c061;
        border-radius: 3px;
        color: #000;
        padding: 5px 10px 5px 30px;
        transition: all .1s ease-out;

        &:hover {
            background: #b0d071 url('#{$icons-path}/plus.png') no-repeat 10px center / 12px !important;
            border-bottom: 1px solid #a5c031 !important;
            color: #000 !important;
            text-decoration: none !important;
        }
    }
} // end #content-body rule

/* override yellow "add to favorites" star with #000 icon */
.search-layout a.add-to-favourites {
    background: url("#{$icons-path}/star.png") no-repeat -1px center / 16px;
}

#ed_changePassButton {
    @include icon-base(40px);
    background: url('#{$icons-path}/locked.png') no-repeat 10px center / 12px !important;
}
#ed_changePassButton:hover {
    margin-left: 4px;
}

/* -- Date Picker / Calendar -- */
.ui-datepicker-trigger {
    padding-top: 5px;
    width: 16px;
}
