/* ---------------------------------------------
Random and Assorted Vault Icon Replacements
--------------------------------------------- */
/* -- Favorites -- */

#content-body #col2 .action-button.add-to-favourites {
  background: url('#{$icons-path}/heart.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#content-body #col2 .action-button.add-to-favourites:hover {
  margin-left: 5px;
}

/* -- Favorites 2 -- */
#content-body #col2 .action-button.addToFavourites {
  background: url('#{$icons-path}/heart.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#content-body #col2 .action-button.addToFavourites:hover {
  margin-left: 5px;
}

/* -- Share -- */
#content-body #col2 .action-button.share-search {
  background: url('#{$icons-path}/share.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#content-body #col2 .action-button.share-search:hover {
  margin-left: 4px;
}

/* -- Share 2 -- */
#content-body #col2 .action-button.shareButton {
  background: url('#{$icons-path}/share.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#content-body #col2 .action-button.shareButton:hover {
  margin-left: 4px;
}
#ed_changePassButton {
  background: url('#{$icons-path}/locked.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#ed_changePassButton:hover {
  margin-left: 4px;
}

/* -- Search -- */
#content-body #col2 .action-button.remote-repo {
  background: url('#{$icons-path}/search.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
}
#content-body #col2 .action-button.remote-repo:hover {
  margin-left: 4px;
}

/* -- Date Picker / Calendar -- */
.ui-datepicker-trigger {
  width: 16px;
  padding-top: 5px;
}

/* -- Clear Selected -- */
#content-body #col2 #bss_clearSelectedButton {
  background: #ddd url('#{$icons-path}/error 2.png') no-repeat 10px center !important;
  background-size: 14px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
  color: black !important;
  text-shadow: none !important;
  border: 0 !important;
  border-bottom: 1px solid #bbb !important;
  width: 130px;
  border-radius: 3px;
}
#content-body #col2 #bss_clearSelectedButton:hover {
  background: #ccc url('#{$icons-path}/error 2.png') no-repeat 10px center !important;
  color: black !important;
  background-size: 14px !important;
}

/* -- Execute Action -- */
#content-body #col2 .action-button.execute-action {
  background: #ddd url('#{$icons-path}/play.png') no-repeat 10px center !important;
  background-size: 8px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
  width: 144px;
  border-bottom: 1px solid #bbb !important;
  border-radius: 3px;
  color: black;
}
#content-body #col2 .action-button.execute-action:hover {
  background: #ccc url('#{$icons-path}/play.png') no-repeat 10px center !important;
  color: black !important;
  background-size: 8px !important;
}

/* -- Add files -- */
#content-body #col2 .action-button.add_handle_button {
  background: #ddd url('#{$icons-path}/file up.png') no-repeat 10px center !important;
  background-size: 8px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
  width: 144px;
  border-bottom: 1px solid #bbb !important;
  border-radius: 3px;
  color: black;
}
#content-body #col2 .action-button.execute-action:hover {
  background: #ccc url('#{$icons-path}/file up.png') no-repeat 10px center !important;
  color: black !important;
  background-size: 8px !important;
}
#content-body #col2 #cmca_b {
  background: #ddd url('#{$icons-path}/file up.png') no-repeat 10px center !important;
  background-size: 10px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
  width: 114px;
  border-bottom: 1px solid #bbb !important;
  border-radius: 3px;
  color: black;
}
#content-body #col2 #cmca_b:hover {
  background: #ccc url('#{$icons-path}/file up.png') no-repeat 10px center !important;
  color: black !important;
  background-size: 10px !important;
}
#content-body #col2 #cmca2_b {
  background: #ddd url('#{$icons-path}/file plus.png') no-repeat 10px center !important;
  background-size: 12px !important;
  padding-left: 40px;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
  margin-left: 0;
  width: 174px;
  border-bottom: 1px solid #bbb !important;
  border-radius: 3px;
  color: black;
}
#content-body #col2 #cmca2_b:hover {
  background: #ccc url('#{$icons-path}/file plus.png') no-repeat 10px center !important;
  color: black !important;
  background-size: 12px !important;
}

/* -- Add + -- */
#content-body a.add {
  background: #c0e091 url('#{$icons-path}/plus.png') no-repeat 10px center !important;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  border-bottom: 1px solid #b0c061;
  background-color: #c0e091 !important;
  padding-left: 30px;
  background-size: 12px !important;
  -webkit-transition: all 0.1s ease-out; /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.1s ease-out; /* Firefox 4-15 */
  -o-transition: all 0.1s ease-out; /* Opera 10.50–12.00 */
  transition: all 0.1s ease-out;
}
#content-body a.add:hover {
  background: #c0e091 url('#{$icons-path}/plus.png') no-repeat 10px center !important;
  color: black !important;
  border-bottom: 1px solid #a5c031 !important;
  background-color: #b0d071 !important;
  background-size: 12px !important;
  text-decoration: none !important;
}

/* override yellow "add to favorites" star with black icon */
.search-layout a.add-to-favourites {
  background: url("#{$icons-path}/star.png") no-repeat -1px center;
  background-size: 16px;
}
