/* --------------------
  search results
----------------------- */
// itemresult needs to inherit micro-clearfix
// prevents search result thumbnails from bleeding into
// next result row
.itemresult {
    @include clearfix;

    &.selected {
        background-color: $light-pink;
        padding: 10px;
    }

    h3 a {
        border: 0;

        &:hover {
            text-decoration: none;
        }
    }
}

#searchresults {
    // only way to get the .icon-comment & number sitting
    // in a .gallery-action <a> without useful style hooks
    .gallery-action:last-child {
        display: none;
    }

    .itemresult-content p {
        font-size: 12px;
    }

    .itemresult-metaline {
        font-size: 12px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
}

.itemresult-metaline .itemresult-meta-delim,
.itemresult-metaline abbr {
    color: $dark-gray;
}

.search-layout .searchresults-header {
    background: $white;
}

.search-layout #col2 div.input h4 {
    color: $dark-gray !important;
    font-size: 12px;
    font-weight: normal;
}

.timeago {
    margin-left: 3px;
}

// div needed for specificity of 1st background rule
// overrides div.itemresult-wrapper on gallerylist.css:1
div.itemresult-wrapper {
    // override gray background in gallery view
    background: $white;
    // usually we have a 1px solid $light-gray border on the bottom
    // but that looks awkward in Gallery view, plus there's no way
    // to target .itemresult-wrapper in Gallery vs. Standard view
    // compromise: remove all borders in both views
    border: 0;
    padding-bottom: 10px;

    &:last-child {
        // border: 0
        padding-bottom: 0;
    }
}

/* gallery view */
.gallery-preview img {
    max-width: 100%;
}

.itemresult-rating {
    // prevent "Select" button position from varying
    @include clearfix;

    background: $white;

    .rating-bar {
        border: 0;

        // we _never_ want stars & comments to show, even on non-search pages
        .itemresult-stars,
        // "hey, should we put a class on the comments & 'add to hierarchy' links?"
        // "nah, no one will ever want to style those"
        [title="0 comments"],
        [title="Add to hierarchy"],
        // with all the 2 neighbors hidden, separator bars are orphans
        .separator {
            display: none;
        }
    }
}

// New approach: we hide the "itemresult-rating" (stars, comments, "add to favs")
// _only on the search & hierarchy_ pages which can only be targeted by form URL.
// Formerly we hid the class globally, but it's used for action buttons
// all over the place (portlets, favorites, tasks, notifications)
// so the whitelist of places to show the rating row kept growing.
#eqpageForm {
    &[action*="/access/searching.do"],
    &[action*="/access/hierarchy.do"] {
        .itemresult-rating {
            display: none;
        }
    }
}

// "sort" & "filter" options on search results page
#actioncontent.resulttopblock {
    background: 0;
    border-bottom: 0;
    border-color: #8f8b7e;
}
// no border betw various filter options
.resulttopblock hr {
    border: 1px solid $white;

    &:last-child {
        display: none;
    }
}

#sra_sort,
#sra_filter,
#sra_share {
    border-bottom: 0;
}

// headings in this section
#searchresults-actions #actioncontent {
    h3 {
        color: $darker-gray;
    }

    p {
        margin: 0;
    }

    label {
        color: #000;
    }

    a {
        color: $link-dark-blue;
    }
    // on itemadmin.do page, can't see owner text in "filter by owner"
    // #searchresults-actions #actioncontent p white font on white bg, wth
    span {
        color: #000;
    }
}

// we want to do this _only for single column search results_
#col1 .searchresults-header {
    // "Results" text, useless
    > span {
        display: none;
    }

    // see #6 - fix for text overlap in EQUELLA 6.3
    // text is absolutely positioned in middle of searchresults-header
    #searchresults-stats {
        position: static;
    }
}

#searchresults-select {
    background: 0;
    border: 0;
    font-size: 18px;
}

#searchresults-select a:hover {
    font-weight: bold;
    text-decoration: none;
}
