/* --------------------
  searchresults
----------------------- */
// itemresult needs to inherit micro-clearfix
// prevents search result thumbnails from bleeding into
// next result row
.itemresult {
    @include clearfix;
}

#searchresults {
  /* @todo check if necessary
  likely already solved by #content-body .area styles */
  background: #fff;

  .itemresult-content p {
    font-size: 12px;
  }

  .itemresult-metaline {
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.itemresult-metaline .itemresult-meta-delim,
.itemresult-metaline abbr {
  color: $dark-gray;
}

.search-layout .searchresults-header {
  background: #fff;
}

.timeago {
  margin-left: 3px;
}

// div needed for specificity of 1st background rule
// overrides div.itemresult-wrapper on gallerylist.css:1
div.itemresult-wrapper {
  // override gray background in gallery view
  background: #fff;
  // usually we have a 1px solid $light-gray border on the bottom
  // but that looks awkward in Gallery view, plus there's no way
  // to target .itemresult-wrapper in Gallery vs. Standard view
  // compromise: remove all borders in both views
  border: 0;
  padding-bottom: 10px;

  &:last-child {
    // border: 0
    padding-bottom: 0;
  }
}

.itemresult.selected {
  background-color: $light-pink;
  padding: 10px;
}

.itemresult h3 a {
  border: 0;

  &:hover {
    text-decoration: none;
  }
}

/* gallery view */
.gallery-preview img {
    max-width: 100%;
}

// hide rating ability since we don't use it
.itemresult-rating {
  background: #fff;
  display: none;

  // prevent "Select" button position from varying
  @include clearfix;

  .rating-bar {
    border: 0;
  }
}
// but we need .itemresult-rating to "select" results on Manage Resources pg… (1)
// and to remove saved searches on Favorites pg (2)
// and to moderate items on task list pg (3)
// and to delete portlets (4)
// only way to target solely those pages is with these crazy selectors
#itemadmin-page + #searchresults-outer-div,
#query-header + #searchresults-outer-div,
#eqpageForm[action*="/access/tasklist.do"],
#content-body.portaladmin {
  .itemresult-rating {
    display: inherit;
  }
}

/* "sort" & "filter" options on search results page */
#actioncontent.resulttopblock {
  background: 0;
  border-bottom: 0;
  border-color: #8F8B7E;
}
// no border betw various filter options
.resulttopblock hr {
  border: 1px solid #fff;

  &:last-child {
    display: none;
  }
}
#sra_sort,
#sra_filter,
#sra_share {
  border-bottom: 0;
}
/* headings in this section */
#searchresults-actions #actioncontent {
  h3 {
    color: #222;
  }
  p {
    margin: 0;
  }
  label {
    color: #000;
  }
  a {
    color: $link-dark-blue;
  }
  // on itemadmin.do page, can't see owner text in "filter by owner"
  // #searchresults-actions #actioncontent p white font on white bg, wth
  span {
      color: #000;
  }
}

// we want to do this _only for single column search results_
#col1 .searchresults-header {
    // "Results" text, useless
    > span {
        display: none;
    }

    // see #6 - fix for text overlap in EQUELLA 6.3
    // text is absolutely positioned in middle of searchresults-header
    #searchresults-stats {
        position: static;
    }
}
