@use 'colors';

// wrap <pre>, for mods/abstract or addresses
// where we need to preserve line breaks in text content
pre {
    white-space: pre-wrap;  // CSS 3
    word-wrap: break-word;  // Internet Explorer 5.5+
}

// make up for inexplicable lack of core Bootstrap utility classes
.muted {
    color: #999;
}

// our $error-red much too bright
.text-error {
    color: #b94a48;
}

// good or bad idea to make diff from $link-dark-blue?
.text-info {
    color: #3a87ad;
}

.text-success {
    color: colors.$success-green;
}

.text-warning {
    color: colors.$warning-orange;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
