.topblock {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px 5px 5px 5px;

  p,
  ul {
    color: $dark-gray;
  }

  a,
  a:hover {
    color: #045F7F;
  }
}
