// EQUELLA version ends up as part of many paths
// …what a terrible idea, btw
$eq-version: '2019.2.0';
// a lot of assets end up stored in here
$bs-path: '/p/r/#{$eq-version}/com.tle.web.sections.equella/bootstrap';
$icons-path: '/p/r/#{$eq-version}/com.tle.web.ALLICONS/images';
