// EQUELLA version ends up as part of many paths
// …what a terrible idea, btw
$eq-version: '6.4.r1330';
// a lot of assets end up stored in here
$bs-path: '/p/r/#{$eq-version}/com.tle.web.sections.equella/bootstrap';
$icons-path: '/p/r/#{$eq-version}/com.tle.web.ALLICONS/images';
$img-path: '/p/r/29397/com.tle.web.sections.equella/images';
