// Zebra Table Styling

// these are unavoidable for odd/even row type styling, disable
// scss-lint:disable SelectorDepth, NestingDepth
table.zebra {
    border: 0;

    tr th {
        background: none;
        color: $darker-gray;
        font-weight: bold;
    }

    tbody {
        border: 0;
        overflow: hidden;

        tr.even td,
        tr.odd td {
            background: darken($white, 6.25%);
            border-top: 1px solid $white;
            transition: all .1s ease-out;
        }

        tr.odd td {
            background: darken($white, 12.5%);
        }
    }

    &.large {
        th {
            font-size: 14px;
            font-weight: normal;
        }

        tbody tr {
            &.even td:hover,
            &.odd td:hover {
                background: darken($white, 6.25%);
                padding-left: 18px;
            }

            &.odd td:hover {
                background: darken($white, 12.5%);
            }
        }
    }
}
