/* ---------------------
Zebra Table Styling
--------------------- */
table.zebra {
    border: 0;

    tr th {
      background: none;
      color: #222;
      font-weight: bold;
    }
    tbody {
      overflow: hidden;
      border: 0;
    }
    tbody tr.even td,
    tbody tr.odd td {
      background: #eee;
      border-top: 1px solid #fff;
      transition: all 0.1s ease-out;
    }
    tbody tr.odd td {
      background: #f6f6f6;
    }

    &.large {
        th {
            font-size: 14px;
            font-weight: normal;
        }
        tbody tr {
            &.even td:hover,
            &.odd td:hover {
              padding-left: 18px;
              background: #eee;
            }
            &.odd td:hover {
              background: #f6f6f6;
            }
        }
    }
}
