@import 'vars';
@import 'colors';
@import 'mixins';

body,
#body {
    background: $white;
}

#header {
    border: 0 !important;
}

#header-inner h2 {
    color: $link-dark-blue;
    display: none;
    max-width: 660px;
}

.alt-links a,
.recent-item h4 a,
.news-item h4 a {
    color: $link-dark-blue !important;

    &:hover {
        color: $dark-font-color;
    }
}

.recent-item span,
.news-item .news-date {
    color: $darker-gray;
}

#receipt-message, // alert up top you see after saving/sharing/etc.
#versions li.selected {
    background-color: $light-pink;
}

.area .control,
.area .edit,
.topblock,
.modal-content-inner,
div.formsection {
    h3 {
        color: $dark-gray;
        line-height: 16px;
    }
}

.halfControl {
    width: 47%;
}

.button-strip {
    background: 0;
}

input[type='text'],
input[type='password'],
textarea,
select[multiple='multiple'] {
    border-top: 1px solid #C3BEAE;
    margin-right: 3px;
}

// /access/myresources.do?type=scrapbook
// scrapbook Add to favs/Upload Files/Author new… actions look awkward as blocks
.query-action {
    display: inline;
}

@import 'footer';
@import 'area_and_content';
@import 'help_and_screen_options';
@import 'filter_and_sort_box';
@import 'box';
@import 'text';
@import 'btns';
@import 'reset_icons';
@import 'topbar';
@import 'topblock';
@import 'left_nav';
@import 'contribute';
@import 'item_page';
@import 'img_with_metadata';
@import 'power_search';
@import 'search';
@import 'zebra';
@import 'reset_bootstrap_icons';
@import 'reset_bootstrap_buttons';
